<div class="mt-3 mb-5">
  <div class="row align-items-center">
    <div class="col-sm order-sm-2 text-center">
      <img
        style="width: 100%; max-width: 300px"
        alt="profile photo"
        src="/images/uwb.jpg"
      />
    </div>
    <div class="col-sm-8 order-sm-1">
      <a href="/"><h1 id="home">Yilong Li</h1></a>
      <p>
        I am a  PhD student in Computer Science at the
        <a href="https://wisc.edu">University of Wisconsin-Madison</a>, advised by
        <a href="https://pages.cs.wisc.edu/~suman/"
          >Professor Suman Banerjee</a
        >.  
        My research interests span networked and wireless systems, efficient on-device inference for large language models (LLMs), and mobile & wearable devices. With extensive experience in hardware design and wireless system, I explore the way of building systems in a software-hardware co-design approach. Recently, I’ve been working on efficient LLM inference for small, battery-powered edge devices, using a software-hardware co-design approach. This includes customized frameworks for deploying multi-modal models (Llama-3, LLaVa) with various quantization methods. I've also optimized llama.cpp on Mali GPU hardware, integrating OpenCL (CLBlast) and OpenBLAS to improve performance and power management.
          <ul>
              <li><strong>Networked/Wireless System:</strong> Wireless systems, especially wireless sensing system for human vital sign. mmWave integrated sensing and communication (ISAC); Ultra-Wide Band (UWB) Sensing System. Build both hardware and software for wireless sensing systems, especially for sensing systems that include human vital signs and gestures. Extensive experience in RF, microwave design, and PCB design.</li>
              <li><strong>Efficient LLM On-device Inference for LLM:</strong>  Developing efficient LLM inference for small, battery-powered edge devices, using frameworks in a software-hardware co-design approach with customized cpp implemented framework, enabling cost-effective deployment of large multi-modal models (Llama-3, LLaVa, Qwen) with various quantization methods (GPTQ, AWQ, 1-bit).</li>
              <li><strong>Multimodal LLMs for wearable devices and sensor data:</strong> Recently my interest is to explore multi-modilities (sensor data, camera) for mobile and wearable devices, enabling real-time, on-device assistance for visual and language tasks. I also designed a wearable earphone hardware with our tiny LLM system, incorporating IMU sensors and cameras to support visually impaired and elderly users in locating objects and identifying road signs during navigation, in neural language.</li>
          </ul>
      </p>

      <p>
        I also spent total one year at
        <a href="https://www.nec-labs.com/">NEC Laboratories America</a> as a Research Intern from 2020 to 2021. During this time, I developed a scalable, high-resolution 16×16 Ultra-Wideband (UWB) radar system from hardware design, firmware to algorithm, for monitoring human vital signs, such as respiration and heart rate. The system conduct a hardware-algorithm co-design that a multi-head attention contrastive learning model to process the data from each of the antenna arrays for accurately extract these signals from multiple moving targets in complex indoor environments. This significant effort takes me two years to build a comprehensive hardware platform and was an incredibly engaging experience.
      </p>

      <p>
        My research interests have recently evolved towards developing efficient inference AI systems on wearable and edge devices through a software-hardware co-design approach. I now focus on creating inference-efficient hardware for deploying multimodal LLMs on mobile and wearable devices, with applications in areas such as healthcare, including vital sign sensing. To support this, I designed a customized C++ framework that efficiently offloads model layers to NPUs and GPUs, enabling small devices to run large models with exceptional speed and efficiency.
      </p>



      <p style="text-align: center">
        <a target="_blank" href="mailto:yli758@wisc.edu"> Email</a>
        &nbsp;/&nbsp;
        <a href="https://github.com/JimmyLi-Network">GitHub</a> &nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?user=G6P9aMQAAAAJ&hl=en"
          >Google Scholar</a
        >
        &nbsp;/&nbsp;
        <a href="https://www.linkedin.com/in/yilong-li-80a76862/"> LinkedIn </a>
      </p>
    </div>
  </div>
</div>
