<table
  style="
    width: 100%;
    border: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    margin-right: auto;
    margin-left: auto;
  "
>
  <tr style="padding: 0px">
    <td style="padding: 2.5%; width: 20%; max-width: 20%">
      <a href="/">
        <h2>
          <i class="fa-solid fa-arrow-left"></i></h2
      ></a>
    </td>
    <td style="padding: 2.5%; width: 60%; vertical-align: middle">
      <a href="/"><h1 id="home">Yilong Li</h1></a>
      <p style="text-align: center">
        <a target="_blank" href="mailto:yli758@wisc.edu">Email</a>
        &nbsp;/&nbsp;
        <a href="https://github.com/JimmyLi-Network">GitHub</a> &nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?user=G6P9aMQAAAAJ&hl=en"
          >Google Scholar</a
        >
        &nbsp;/&nbsp;
        <a href="https://www.linkedin.com/in/yilong-li-80a76862/"> LinkedIn </a>
      </p>
    </td>
    <td style="padding: 2.5%; width: 20%; max-width: 20%">
      <img
        style="width: 100%; max-width: 100%"
        alt="profile photo"
        src="/images/uwb.jpg"
      />
    </td>
  </tr>
</table>
